<%provide(:title,"about")%>
<!DOCTYPE html> 
<html> 
  <head> 
    <title><%=yield(:title)%>|Ruby on Rails Tutorial Sample App</title> 
  </head> 
  <body> 
    <h1>About</h1> 
    <p> 
      <a href="https://Railstutorial.Jp/">Ruby On Rails Tutorial</a> 
      Is A <a  href="Https://Railstutorial.Jp/#ebook">Book</a>And
       <a href="https://railstutorial.jp/#screencast">screencast</a> 
      to teach web development with
      <a href= "Http://Rubyonrails.Org/">Ruby On Rails</a> .
      This is the sample application for the tutorial.
    </p> 
  </body> 
</html>