<% provide(:title,"help")%>
<!DOCTYPE html> 
<html> 
  <head> 
    <title><%=yield(:title)%>|Ruby on Rails Tutorial Sample App</title> 
  </head> 
  <body> 
    <h1> Help</h1> 
    <p>Get help on the Ruby on Tutorial At The Rails
       <a href= "Https://Railstutorial.Jp/help">Rails Tutorial Help
      page</a> .
      To get help on this sample app, see the
      <a href= "Https://Railstutorial.Jp/#ebook">
       <em>Ruby On Rails Tutorial</em>Book</a> .
     </p> 
  </body> 
</html>