<div class="center jumbotron" > 
  <h1> Welcome to the Sample App </h1>

  <h2>
    This is the home page for the
    <a href="Https://Railstutorial.Jp/"> Ruby On Rails Tutorial </a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  
  
